<!DOCTYPE html>
<html>
  <head>
    <title>Responsive Poster</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- css -->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="style_responsive.css">
  </head>
  
  <body>
    <img class="image1" src="./img/bird.png">
    <div class="text1">Fly</div>

    <img class="image2" src="./img/rabbit.png">
    <div class="text2">Walk</div>

    <img class="image3" src="./img/fish.png">
    <div class="text3">Swim</div>

  </body>
</html>

